upnpclient
wxpython
ifaddr
hurry.filesize
dpkt
requests
psutil
pcap-ct; sys_platform == 'win32'
pypcap; sys_platform == 'linux'
distro
netifaces
vulners
sqlalchemy
scikit-learn
lsanomaly
numpy
GitPython
yara-python
